@{
    ViewData["Title"] = "Administrador";
}


<div class="ordenesVenta">
    <div class="text-right">
        <button class="btn btn-success">Salir</button>
    </div>
    <h2>Administrador</h2>
    <br>
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-6 text-center">
                <div class="card">
                    <img class="card-img-top img-fluid" src="https://cdn.stocksnap.io/img-thumbs/960w/3QX7WQCK52.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Registre Empleados</h5>
                        <p class="card-text">Registre los datos de los nuevos empleados.</p>
                        <a href="#" class="btn btn-primary">Ingresar</a>
                    </div>
                </div>
            </div>
            <div class="col-6 text-center">
                <div class="card">
                    <img class="card-img-top img-fluid" src="https://cdn.stocksnap.io/img-thumbs/960w/8JM7H9ZB0J.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Registre Productos</h5>
                        <p class="card-text">Registre productos a la base de datos de la tienda.</p>
                        <a href="#" class="btn btn-primary">Ingresar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
        
    