@{
    ViewData["Title"] = "Asignar cajero";
}
<h2>Asignar Puesto</h2>
<form>
    <div class="text-center">
        <div class="form-check form-check-inline">
            <input class="form-check-input " type="radio" id="vendedor" value="vendedor">
            <label class="form-check-label" for="vendedor">Vendedor</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" id="cajero" value="cajero">
            <label class="form-check-label" for="cajero">Cajero</label>
        </div>
    </div>
    
     <div class="form-group mt-3">
        <label for="idv" class="idv">Id vendedor</label>
        <input type="number" class="form-control" id="idv"  name="idv">
    </div>
    <div class="form-group">
        <label for="idc" class="idc">Id cajero</label>
        <input type="number" class="form-control" id="idc"  name="idc">
    </div>
     <div class="form-group">
        <label for="numcaja" class="numcaja">N° caja</label>
        <input type="number" class="form-control" id="numcaja"  name="numerocaja">
    </div>
    <div class="form-group">
        <label for="sueldo" class="sueldo">Sueldo</label>
        <input type="number" class="form-control" id="sueldo"  name="sueldo">
    </div>
    <div class="form-group">
        <label for="ide" class="ide">Id empleado</label>
        <input type="number" class="form-control" id="ide"  name="ide">
    </div>
        <br>
        <br>
        <div class="form-group text-center">
            <button class="btn btn-primary ingresar " style="width:170px " name="IngresarPuesto">Ingresar</button>
        </div>
</form>