@{
    ViewData["Title"] = "Busqueda de productos";
}
@Html.ValidationSummary()
<div>
    <h1>Busqueda de Productos</h1>
    <form class="formulario">
        <div class="form-group">
            <label for="codigo" class="col-sm-6 col-form-label">Codigo</label>
            <input type="text" class="form-control" id="codigo"  name="codigo">
        </div>
        <div class="form-group text-center">
            <button class="btn btn-secondary" style="width:170px " name="IngresarProducto">Buscar</button>
        </div>
        <div class="form-group">
            <label for="foto" class="col-sm-6 col-form-label"></label>
            <div>
                <table class="table table-bordered text-center">
                    <thead>
                        <tr>
                        <th class="table-success" scope="col">Especificaciones</th>
                        <th class="table-success" scope="col">Stock</th>
                        <th class="table-success" scope="col">Precio</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                        <td class="table-secondary">a</td>
                        <td class="table-secondary">a</td>
                        <td class="table-secondary">a</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-bordered text-center">
                    <thead>
                        <tr>
                        <th class="table-success" scope="col">Foto</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                        <td class="table-secondary">a</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="form-group text-center">
            <button class="btn btn-success" style="width:170px " name="IngresarProducto">Agregar a carrito</button>
        </div>
    </form>
</div>