@{
    ViewData["Title"] = "Log In";
}
 
<div class="weather-box">
  <div class="weather text-center">
    <form>
    <div class="form-group row text-right">
    <label for="inputEmail3" class="col-sm-6 col-form-label">Usuario</label>
    <div class="col-sm-6">
      <input type="email" class="form-control" style="width: 60%;" id="inputEmail3" placeholder="Usuario">
    </div>
    </div>
    <div class="form-group row text-right">
    <label for="inputPassword3" class="col-sm-6 col-form-label">Contraseña</label>
    <div class="col-sm-6">
      <input type="password" class="form-control" style="width: 60%;"  id="inputPassword3" placeholder="Contraseña">
    </div>
    <div class="form-group mx-auto">
            <button class="btn btn-primary text-center" name="Ingresar">Ingresar </button>
      </div>
    </form>      
  </div>
</div>