@{
    ViewData["Title"] = "Ingreso de empleados";
}
@section Head {
    <meta>
}

<h1>Ingreso de empleados</h1>
<form class="formulario">
     
     <div class="form-group">
        <label for="nombre" >Nombre</label>
        <input type="text" class="form-control" id="nombre"  name="nombreE">
    </div>
    <div class="form-group">
        <label for="apellido" >Apeliido</label>
        <input type="text" class="form-control" id="apellido"  name="apellidoE">
    </div>
    <div class="form-group">
        <label for="dni" >DNI</label>
        <input type="number" class="form-control" id="dni"  name="dniE">
    </div>
    <div class="form-group">
        <label for="direccion" >Direccion</label>
        <input type="text" class="form-control" id="direccion"  name="direccionE">
    </div>        
    <div class="form-group">
        <label for="telefono" >Telefono</label>
        <input type="number" class="form-control" id="telefono"  name="telefonoE">
    </div>
    <div class="form-group">
            <label for="exampleFormControlSelect1">Puesto</label>
            <select class="form-control" id="exampleFormControlSelect1">
                <option>Administrador</option>
                <option>Vendedor</option>
                <option>Cajero</option>
            
            </select>
    </div>
        <br>
        <br>

     <h4>Credenciales de usuario</h4>   
    <div class="form-group">
        <label for="id" >Id empleado</label>
        <input type="number" class="form-control" id="id"  name="idE">
    </div>
    <div class="form-group">
        <label for="passsword" >Password</label>
        <input type="password" class="form-control" id="password"  name="password">
    </div>
        <div class="form-group text-center">
            <button class="btn btn-primary " style="width:170px " name="IngresarProducto">Ingresar Empleado</button>
        </div>
</form>
 