@{
    ViewData["Title"] = "Ingreso de productos";
}
@Html.ValidationSummary()
<h2>Ingrese producto</h2>
<div>
    <form  asp-action="IngresoProductos" method="POST">
        
        <div class="form-group">
            <label for="codigo" >Codigo</label>
            <input type="text" class="form-control" id="codigo"  name="ProductoId">
        </div>
        
        <div class="form-group">
            <label for="precio" >Precio</label>
            <input type="float" class="form-control" id="precio" name="precio">
        </div>
        <div class="form-group">
            <label for="descripcion" >Descripción</label>
            <textarea type="text" class="form-control" id="descripcion" name="especificaciones"></textarea>
        </div>
        <div class="form-group">
            <label for="foto" >Foto</label>
            <input type="text" class="form-control" id="foto" name="foto">
        </div>
        <div class="form-group">
            <label for="cantidad" >Cantidad de producto</label>
            <input type="text" class="form-control" id="cantidad" name="stock">
        </div>

        <div class="form-group">
            <label for="exampleFormControlSelect1">Categoria</label>
            <select class="form-control" id="exampleFormControlSelect1" name="CategoriaId">
                <option value="1">Refrigeradoras</option>
                <option value="2">Cocinas</option>
                <option value="3">Microondas</option>
                
            </select>
            
        </div>
        <br>
        <br>
        
<!-- Small modal -->
<div class="form-group text-center">
        <button type="button" class="btn btn-primary text-justify" data-toggle="modal" 
                         data-target=".bd-example-modal-sm">Ingrese producto</button>
</div>
        <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" 
                        aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
            Regitro exitoso
            </div>
        </div>
        </div>
    </form>
</div>