@{
    ViewData["Title"] = "Ingreso de productos";
}
<h2>Ingrese producto</h2>
<div>
    <form action="" method="post">
        
        <div class="form-group">
            <label for="codigo" >Codigo</label>
            <input type="text" class="form-control" id="codigo"  name="codigo">
        </div>
        
        <div class="form-group">
            <label for="precio" >Precio</label>
            <input type="number" class="form-control" id="inputEmail3" name="precio">
        </div>
        <div class="form-group">
            <label for="descripcion" >Descripción</label>
            <textarea type="text" class="form-control" id="inputEmail3" name="descripcion"></textarea>
        </div>
        <div class="form-group">
            <label for="foto" >Foto</label>
            <input type="text" class="form-control" id="inputEmail3" name="foto">
        </div>
        <div class="form-group">
            <label for="cantidad" >Cantidad de producto</label>
            <input type="text" class="form-control" id="cantidad" name="cantidad">
        </div>

        <div class="form-group">
            <label for="exampleFormControlSelect1">Categoria</label>
            <select class="form-control" id="exampleFormControlSelect1">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            </select>
        </div>
        <br>
        <br>
        <div class="form-group text-center">
            <button class="btn btn-primary " style="width:170px " name="IngresarProducto">Ingresar Producto</button>
        </div>
    </form>
</div>