@{
    ViewData["Title"] = "Ingreso de productos";
}

<div>
    <form>
        <div class="form-group">
            <label for="codigo" class="col-sm-6 col-form-label">Codigo</label>
            <input type="text" class="form-control" id="codigo"  name="codigo">
        </div>
        <div class="form-group">
            <label for="nombre" class="col-sm-6 col-form-label">Nombre</label>
            <input type="text" class="form-control" id="nombre" name="nombre">
        </div>
        <div class="form-group">
            <label for="precio" class="col-sm-6 col-form-label">Precio</label>
            <input type="number" class="form-control" id="inputEmail3" name="precio">
        </div>
        <div class="form-group">
            <label for="descripcion" class="col-sm-6 col-form-label">Descripcion</label>
            <input type="text" class="form-control" id="inputEmail3" name="descripcion">
        </div>
        <div class="form-group">
            <label for="foto" class="col-sm-6 col-form-label">Foto</label>
            <input type="text" class="form-control" id="inputEmail3" name="foto">
        </div>
    </form>
</div>