@model List<Producto>
@{
    ViewData["Title"] = "Pedidos";
}
@Html.ValidationSummary()
<form class="formulario">
  <h5 class="text-left">Pedidos</h5>
  <table>
     <thead>
        <tr>
          <th scope="col"class>#</th>
          <th scope="col"class>Cod</th>
          <th scope="col"class>Precio</th>
          <th scope="col"class>Cantidad</th>
       </tr>
    </thead>
    @foreach(var productos in Model){
      <tbody>
          <tr>
            <td>@productos.foto</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
      </tbody>
     
    }
    
    <div class="col">
        <br>
        <button class="btn btn-success text-center"  type="submit" name="Enviar">Enviar</button>
    </div>
  </table>
</form>