@{
    ViewData["Title"] = "Pedidos";
}
@Html.ValidationSummary()
<form class="formulario">
  <h5 class="text-left">Pedidos</h5>
  <div class="form-row">
    <div class="col">
     <label for="formGroupExampleInput">Codigo</label>
      <input type="text" class="form-control"><br> 
      <input type="text" class="form-control"><br> 
      <input type="text" class="form-control"><br>
      <input type="text" class="form-control">
    </div>
    <div class="col">
      <label for="formGroupExampleInput">Precio</label>
      <input type="text" class="form-control"><br>    
      <input type="text" class="form-control"><br> 
      <input type="text" class="form-control"><br>
      <input type="text" class="form-control">
    </div>
    <div class="col">
      <label for="formGroupExampleInput">Cantidad</label>  
      <input type="text" class="form-control"><br> 
      <input type="text" class="form-control"><br> 
      <input type="text" class="form-control"><br>
      <input type="text" class="form-control">
    </div>    
    <div class="col-12">
    <br>
    <label for="inputAddress">Nombre del Cliente</label>
    <input type="text" class="form-control" id="inputAddress" placeholder="Nombre y Apellidos">
    </div>
    <div class="col">
        <br>
        <button class="btn btn-success text-center" name="Enviar">Enviar</button>
    </div>
    </div>
</form>