  
  div {
    position: relative;
    z-index: 2;
  }
  
  body {
    background-color: #0D47A1;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-align: center;
  }
  
  h1 {
    text-align: center;
  }

  
  p .ul {
    text-align: center;
  }
   
  .weather-box {
    border-radius: 14px;
    position: relative;
    margin: 8% auto auto auto;
    width: 60%;
    height: 40%;
    padding: 40px 20px;
    display: block;
    background-color: #fff;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
  .weather-box .weather {
    text-align: center;
    width: 100%;
    height: auto;
    clear: both;
    font-weight: 400;
    font-size: 1.45em;
  }
  .weather-box .weather ul {
    font-size: 1.0em;
    margin-right: 0.4em;
  }
  
  .longShadow {
    text-shadow: #9c9c9c 5px 6px 7px;
  }  