   div {
    position: relative;
    z-index: 2;
  }
  footer{
    text-align: center;
  }
  
  body {
    background-color: rgba(16, 40, 147, 0.65);
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin-top: 8%;
    
  }
  
  h1 ,h2{
    text-align: center;
    padding: 15px;
  }

  
  p .ul {
    text-align: center;
  }
   
  .weather-box {
    border-radius: 14px;
    position: relative;
    margin: 8% auto auto auto;
    width: 80%;
    height: 40%;
    padding: 40px 20px;
    display: block;
    background-color: #fff;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
  .weather-box .weather {
    text-align: center;
    width: 100%;
    height: auto;
    clear: both;
    font-weight: 400;
    font-size: 1.45em;
  }
  .weather-box .weather ul {
    font-size: 1.0em;
    margin-right: 0.4em;
  }
  
  .longShadow {
    text-shadow: #9c9c9c 5px 6px 7px;
  }  

  @media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    .col-sm-6 {width: 50%;}
    body{
      background-image: rgba(16, 40, 147, 0.65);
      margin-top: 16%;
    }
    /*Pedidos.cshtml*/
    .formulario{
      background-color: rgb(247, 222, 222);
      border-radius: 14px;
      position: relative;
      margin: 8% auto auto auto;
      width: 80%;
      height: 40%;
      padding: 40px 20px;
      display: block;
      background-color: #fff;
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    }
    /*Login*/
    .weather-box {
      border-radius: 14px;
      position: relative;
      margin: 25% auto auto auto;
      width: 90%;
      height: 60%;
      padding: 40px 20px;
      display: block;
      background-color: #fff;
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    }

    
    footer{
      color: #fff;
      text-align: center;
    }
}