@model Cajero
@{
    ViewData["Title"] = "Asignar cajero";
}
@Html.ValidationSummary()
<h2>Asignar Cajero</h2>
<form  class="formulario" asp-action="AsignacionCajero" method="POST">
    
     
    <div class="form-group">
        <label for="idc" >Id cajero</label>
        <input type="number" class="form-control" id="idc"  asp-for="CajeroId">
    </div>
     <div class="form-group">
        <label for="numcaja" >N° caja</label>
        <input type="number" class="form-control" id="numcaja"  asp-for="numcaja">
    </div>
    
    <div class="form-group">
        <label for="sueldo">Sueldo</label>
        <input type="number" class="form-control" id="sueldo"  asp-for="sueldo">
    </div>
    <div class="form-group">
        <label for="ide" >Id empleado</label>
        <input type="number" class="form-control" id="ide"  asp-for="EmpleadoId">
    </div>
        <br>
        <br>
        <div class="form-group text-center">
            <button class="btn btn-primary ingresar " style="width:170px " name="IngresarPuesto">Ingresar</button>
        </div>
</form>