@model Empleado
@{
    ViewData["Title"] = "Ingreso de empleados";
}
@section Head {
    <meta>
}
@Html.ValidationSummary()

<form class="weather-box" asp-action="IngresoEmpleado" method="POST">
     <h1>Ingreso de empleados</h1>
     <div class="form-group">
        <label for="nombre" >Nombre</label>
        <input type="text" class="form-control" id="nombre"  asp-for="nombre">
    </div>
    <div class="form-group">
        <label for="apellido" >Apeliido</label>
        <input type="text" class="form-control" id="apellido"  asp-for="apellido">
    </div>
    <div class="form-group">
        <label for="dni" >DNI</label>
        <input type="number" class="form-control" id="dni"  asp-for="dni">
    </div>
    <div class="form-group">
        <label for="direccion" >Direccion</label>
        <input type="text" class="form-control" id="direccion"  asp-for="direccion">
    </div>        
    <div class="form-group">
        <label for="telefono" >Telefono</label>
        <input type="number" class="form-control" id="telefono"  asp-for="telefono">
    </div>
    <div class="form-group">
            <label for="exampleFormControlSelect1">Puesto</label>
            <select class="form-control" id="exampleFormControlSelect1" name="nombre_puesto">
                <option value="Administrador">Administrador</option>
                <option value="Vendedor">Vendedor</option>
                <option value="Cajero">Cajero</option>
            
            </select>
    </div>
        <br>
        <br>

     <h4>Credenciales de usuario</h4>   
    
    <div class="form-group">
        <label for="passsword" >Password</label>
        <input type="password" class="form-control" id="password"  name="password">
    </div>
        <div class="form-group text-center">
            <button class="btn btn-primary " style="width:170px " name="IngresarProducto">Ingresar Empleado</button>
        </div>
    @if (ViewBag.existe!=null){
        <script>
            window.onload=function(){
                $('#modalRegistro').modal('show');
            };
        </script>
    }
    
    </div>
</form>

<div id="modalRegistro" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content text-center">
            <div class="modal-header">
                <h5 class="modal-title">Envío Completado</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Registro Exitoso</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Cerrar</button>
        </div>
    </div>
</div>

 