@model Empleado
@{
    ViewData["Title"] = "Ingreso de empleados";
}
@section Head {
    <meta>
}
@Html.ValidationSummary()
<h1>Ingreso de empleados</h1>
<form class="formulario" asp-action="IngresoEmpleado" method="POST">
     
     <div class="form-group">
        <label for="nombre" >Nombre</label>
        <input type="text" class="form-control" id="nombre"  asp-for="nombre">
    </div>
    <div class="form-group">
        <label for="apellido" >Apeliido</label>
        <input type="text" class="form-control" id="apellido"  asp-for="apellido">
    </div>
    <div class="form-group">
        <label for="dni" >DNI</label>
        <input type="number" class="form-control" id="dni"  asp-for="dni">
    </div>
    <div class="form-group">
        <label for="direccion" >Direccion</label>
        <input type="text" class="form-control" id="direccion"  asp-for="direccion">
    </div>        
    <div class="form-group">
        <label for="telefono" >Telefono</label>
        <input type="number" class="form-control" id="telefono"  asp-for="telefono">
    </div>
    <div class="form-group">
            <label for="exampleFormControlSelect1">Puesto</label>
            <select class="form-control" id="exampleFormControlSelect1" name="nombre_puesto">
                <option value="Administrador">Administrador</option>
                <option value="Vendedor">Vendedor</option>
                <option value="Cajero">Cajero</option>
            
            </select>
    </div>
        <br>
        <br>

     <h4>Credenciales de usuario</h4>   
    
    <div class="form-group">
        <label for="passsword" >Password</label>
        <input type="password" class="form-control" id="password"  name="password">
    </div>
        <div class="form-group text-center">
            <button class="btn btn-primary " style="width:170px " name="IngresarProducto">Ingresar Empleado</button>
        </div>
</form>
 