@model Producto
@{
    ViewData["Title"] = "Ingreso de productos";
}
@Html.ValidationSummary()
<div>
    <form  class="formulario" asp-action="IngresoProducto" method="POST">        
    <h2>Ingrese producto</h2>
        <div class="form-group">
            <label for="codigo" >Codigo</label>
            <input type="text" class="form-control" id="codigo"  asp-for="ProductoId">
        </div>
        
        <div class="form-group">
            <label for="precio" >Precio</label>
            <input type="decimal" class="form-control" id="precio" asp-for="precio">
        </div>
        <div class="form-group">
            <label for="descripcion" >Descripción</label>
            <textarea type="text" class="form-control" id="descripcion" asp-for="especificaciones"></textarea>
        </div>
        <div class="form-group">
            <label for="foto" >Foto</label>
            <input type="text" class="form-control" id="foto" asp-for="foto">
        </div>
        <div class="form-group">
            <label for="cantidad" >Cantidad de producto</label>
            <input type="text" class="form-control" id="cantidad" asp-for="stock">
        </div>

        <div class="form-group">
            <label for="exampleFormControlSelect1">Categoria</label>
            <select class="form-control" id="exampleFormControlSelect1" name="CategoriaId">
                <option value="1">Refrigeradoras</option>
                <option value="2">Cocinas</option>
                <option value="3">Microondas</option>
                
            </select>
            
        </div>
        <br>
        <br>
        

        <div class="form-group text-center">
                <button type="submit" class="btn btn-primary text-justify" >Ingrese producto</button>
        </div>
        <div class="form-group text-center ">
             <a href="~/Vendedor/Vendedor"type="submit" class="btn btn-secondary" style="width:170px " name="IngresarProducto">Regresar</a>      
         </div>
        
    </form>
</div>