@{
    ViewData["Title"] = "Vendedor";
}

<div class="ordenesVenta">
    <div class="text-right">
        <a href="~/Home/Index" class="btn btn-success">Salir</a>
    </div>
    <h2>Vendedor</h2>
    <br>
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-6 text-center">
                <div class="card text-center">
                    <img class="card-img-top img-fluid" src="https://cdn.stocksnap.io/img-thumbs/960w/3QX7WQCK52.jpg" alt="Card image cap">
                    <div class="card-body text-center">
                        <h6 class="card-title">Registro Productos</h6>
                        <a href="~/Vendedor/IngresoProducto" class="btn btn-primary">Ingresar</a>
                    </div>
                </div>
            </div>
            <div class="col-6 text-center">
                <div class="card text-center">
                    <img class="card-img-top img-fluid" src="https://cdn.stocksnap.io/img-thumbs/960w/8JM7H9ZB0J.jpg" alt="Card image cap">
                    <div class="card-body text-center">
                        <h6 class="card-title">Buscar Producto</h6>
                        <a href="~/Vendedor/BusquedaProducto" class="btn btn-primary">Ingresar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

        
    